VITE_API_URL=http://localhost:4000/api
VITE_SUPABASE_URL=https://rrgrjbgnrumkfrvmpsxv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJyZ3JqYmducnVta2Zydm1wc3h2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM2MTA0NTcsImV4cCI6MjA5OTE4NjQ1N30.XZcYLZLELI1wHWmEQcm9zsFhKlLsWVKEWo6MtOM7Eas
VITE_AUTH_REDIRECT_URL=http://localhost:5173/creative-generator
